model_config_list:{
    config:{
      name:"tfserving",
      base_path:"/models/multiModel/tfserving",
      model_platform:"tensorflow"
    },
    config:{
      name:"tfServing_HyperSpectral",
      base_path:"/models/multiModel/tfServing_HyperSpectral",
      model_platform:"tensorflow"
    }
}